@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: 'Monda', sans-serif;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background: #c9d4fa; */
}

.music-player {
  display: flex;
  flex-direction: row;
  max-height: 450px;
  width: 800px;
}

.left-player {
  background: #338f75;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  flex: 1;
  justify-content: flex-end;
}

.record {
  width: 200px;
  /* border-radius: 50%; */
  position: absolute;
  top: -100px;
}

.record-animation {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }

}

.left-player h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 35px;
}

.slide-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slide-container i {
  color: #264653;
  font-size: 16px;
}

.slider {
  -webkit-appearance: none;
  height: 10px;
  background: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: 0.2;
  border-radius: 10px;
  margin: 0 20px;
}

.slider:hover {
  opacity: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.controls>button {
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  padding: 20px;
}

.controls>button>i {
  font-size: 40px;
  color: #151515;
}

.play-pause>i {
  font-size: 45px !important;
}

.right-playlist {
  flex: 1;
  background: #f4fbe6;
  padding: 3.5em;
  display: flex;
  flex-direction: column;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.right-playlist h2 {
  margin-bottom: 20px;
}

.right-playlist ul {
  list-style-type: none;
  flex-basis: 100%;
  overflow-y: scroll;
  padding: 0 5px;
}

.right-playlist ul li {
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 1px solid #ddd;
}

.right-playlist ul li.active {
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #338f75;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00d19d;
}